body {
    font-family: Arial;
    background: linear-gradient(135deg, #667eea, #764ba2);
    margin: 0;
}

.container {
    max-width: 450px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

/* MENU */
.menu {
    display: flex;
    justify-content: space-around;
    background: #6c5ce7;
    padding: 10px;
    border-radius: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
}

/* SEÇÕES */
section {
    margin-top: 20px;
}

/* CARDS */
.card {
    background: #ffeaa7;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

/* LISTA */
.lista {
    list-style: none;
    padding: 0;
}

.lista li {
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
}

/* PRIORIDADE */
.alta { background: #ff7675; }
.media { background: #ffeaa7; }
.baixa { background: #55efc4; }

/* CHECK */
input:checked + label {
    text-decoration: line-through;
}

/* BLOCOS */
.bloco {
    background: #f1f2f6;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
}

/* MENSAGENS */
.msg {
    display: none;
    color: green;
    font-weight: bold;
}

input[type="checkbox"]:checked + .msg {
    display: block;
}

/* RESULTADO TESTE */
.resultado {
    display: none;
    background: #dfe6e9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

/* Mostrar resultado */
#exatas:checked ~ .exatas {
    display: block;
}

#humanas:checked ~ .humanas {
    display: block;
}

#bio:checked ~ .bio {
    display: block;
}
}